<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- ROS CONTROL GAZEBO PLUGIN -->
    <xacro:macro name="ros2_control_gazebo">
        <gazebo>
            <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
                <!--robot_param_node>/rb1_robot/robot_state_publisher</robot_param_node-->
				<robot_param_node>/robot_state_publisher</robot_param_node>
                <parameters>$(find rb1_ros2_description)/config/rb1_controller.yaml</parameters>
            </plugin>
        </gazebo>
	</xacro:macro>

	<xacro:macro name="gazebo_colors" params="prefix">
		<gazebo reference="$(arg prefix)base_footprint">
			<material>Gazebo/Green</material>
		</gazebo>

		<gazebo reference="$(arg prefix)base_link">
			<material>Gazebo/Black</material>
		</gazebo>

		<gazebo reference="$(arg prefix)front_cover_link">
			<material>Gazebo/Black</material>
		</gazebo>
	</xacro:macro>
</robot>
